[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
dataclasses = "*"
urllib3 = "*"
flake8 = "*"
pylint = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"
responses = "*"

[requires]
python_version = "3.10"
